[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 720.5006325820278 719.2300460434735 363.333232125991 485.1210256094755
datapath = database/DAVIS/JPEGImages/Full-Resolution/andrew-dualcam-fgbg000/
datapath0 = database/DAVIS/JPEGImages/Full-Resolution/andrew-dualcam-fgbg000/
datapath1 = database/DAVIS/JPEGImages/Full-Resolution/andrew-dualcam-fgbg000/
rtk_path1 = cam-files/colmap/rtks/andrew-dualcam-bkgd000/cam