[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = n
ks = 798.7180786132812 798.7180786132812 360 480
datapath = database/DAVIS/JPEGImages/Full-Resolution/cat2-stereo000-rightcam/
datapath0 = database/DAVIS/JPEGImages/Full-Resolution/cat2-stereo000-rightcam/
datapath1 = database/DAVIS/JPEGImages/Full-Resolution/cat2-stereo000-rightcam/