[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ks = 800 800 360 480
datapath = database/DAVIS/JPEGImages/Full-Resolution/catamelie-dualrig002-fgbg-rightcam/
datapath0 = database/DAVIS/JPEGImages/Full-Resolution/catamelie-dualrig002-fgbg-rightcam/
datapath1 = database/DAVIS/JPEGImages/Full-Resolution/catamelie-dualrig002-fgbg-rightcam/
