[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = n
ks = 798.9440307617188 798.9440307617188 360 480
datapath = database/DAVIS/JPEGImages/Full-Resolution/dog1-stereo000-leftcam/
datapath0 = database/DAVIS/JPEGImages/Full-Resolution/dog1-stereo000-leftcam/
datapath1 = database/DAVIS/JPEGImages/Full-Resolution/dog1-stereo000-leftcam/
rtk_path1 = cam-files/dog1-stereo000/dog1-stereo000-leftcam