[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
#ishuman = y
ks = 794.6509399414062 794.6509399414062 360 480
datapath = database/DAVIS/JPEGImages/Full-Resolution/humandog-stereo000-human-uncropped-rightcam/
datapath0 = database/DAVIS/JPEGImages/Full-Resolution/humandog-stereo000-human-uncropped-rightcam/
datapath1 = database/DAVIS/JPEGImages/Full-Resolution/humandog-stereo000-animal-uncropped-rightcam/
datapath2 = database/DAVIS/JPEGImages/Full-Resolution/humandog-stereo000-bkgd-rightcam/