[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = y
ks = 799.6218872070312 799.6218872070312 360 480
datapath = database/DAVIS/JPEGImages/Full-Resolution/human2-stereo000-leftcam/
datapath0 = database/DAVIS/JPEGImages/Full-Resolution/human2-stereo000-leftcam/
datapath1 = database/DAVIS/JPEGImages/Full-Resolution/human2-stereo000-leftcam/
rtk_path1 = cam-files/human2-stereo000/human2-stereo000-leftcam