[data]
dframe = 1
init_frame = 0
end_frame = -1
can_frame = -1

[data_0]
ishuman = y
ks = 790.1318969726562 790.1318969726562 360 480
datapath = database/DAVIS/JPEGImages/Full-Resolution/human1-stereo000-bkgd-leftcam/
datapath0 = database/DAVIS/JPEGImages/Full-Resolution/human1-stereo000-bkgd-leftcam/
datapath1 = database/DAVIS/JPEGImages/Full-Resolution/human1-stereo000-bkgd-leftcam/
